.table-users {
    width: 90%;
    border-collapse: collapse;
    margin: 0px 70px;
    font-size: 18px;
}

.table-users th{
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 8px 12px;
    background-color: lightskyblue;
}
.table-users td {
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 8px 12px;
    background-color: white;
}

.users-table-header {
    color: white;
    background-color: white;
}

.body {
    background-color: white;
}